<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Test message from Carlos Zhao.</h1>
    <p>Hi, DevBBQ! This message is for test purpose only.</p>
    <p>Thanks for checking out and have a great day!</p>
    <h2>The following is the message body that Carlos Zhao wrote to you via devbbq-test.heroku.app:</h2>
    <p><%= @body %></p>
    <p>Please do not reply to this message.</p>
  </body>
</html>