.navbar{
  background-color: #337ab7;
  .nav{
    float: right;
    line-height: 48px;
    li{ 
      a{
        color: white;
        &:hover{
          background-color: #a0a0a0;
        }
      }
    }
  }
}